body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: #379683; */
    /* background-color: #544581; */
    /* display: flex; */
}
div{
    display: flex;
    flex-direction: column;
}
.pic{
    /* display: flex; */
    /* justify-content: flex-end; */
    /* position: relative; */
    /* align-self: flex-start; */
}
p{
    text-align: justify;
    line-height: 1.8;
    /* font-size: large; */
    font-size: larger;
}
.title{
    padding-bottom: 1%;
    padding-top: 1%;
}
.info{
    display: flex;
    flex-direction: row; /*So that the text and pic would appear next to each other*/
    padding-bottom: 3%;
}
.footer{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;

}
.icons{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    
}
.icon{
    /* margin-right: 2%; */
    padding: 0 10% 0 10% 
}

.info_text{
    display: flex;
    flex:3;
    /* background-color: blue; */

}
.info_pic{
    display: flex;
    flex:1;
    /* background-color: red; */
    justify-content: end;
    /* align-self: flex-end; */
    /* align-content: flex-end; */
    padding-left: 4%;
    /* flex-direction: column; */
    
}
.cont{
    display: flex;
    padding-bottom: 1%;
    flex-direction: row;
}